/******************************
*********** App CSS ***********
******************************/

/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

@import 'https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css';

@import 'variables';
@import 'header';
@import 'footer';


* {
	margin: 0;
	padding: 0;
}

body {
	color: #444444;
	background: #fff; /* #f8f8f8; */
	font: 16px sans-serif, Arial, Verdana;
}

img {
	max-width: 100%;
}

#app {
	position: relative;
}

/** Content CSS **/


